@import "./fonts";
@import "./reset";
@import "./variables";

*  {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: $color-white;
    font-family: $main-font;
    
    @media screen and (max-width:$tablet){
        max-width: 768px;
    }

    @media screen and (max-width:$mobile){
        max-width: 320px;
    }
}


